.li-content {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  list-style-type: none;
  padding-right: 15px;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.li-content:nth-child(even) {
  background-color: hsl(342, 54%, 44%);
}

.li-content:nth-child(odd) {
  background-color: hsl(342, 96%, 68%);
}

a {
  text-decoration: none;
}

.infos-circle {
  flex: 1;
}

.country-map {
  height: 150px;
  margin-right: 100px;
}

@media screen and (max-width: 600px) {
  .country-map {
    margin-right: 0;
  }

  .li-content {
    width: 170px;
    margin-right: 0;
    height: 270px;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}
